@import './../styles/variables.scss';

.navbar {
    height: 60px;
    display: flex;
    padding: 2rem 3vw;
    align-items: center;
    width:100vw;
    .logo {
        font-size: 35px;
        color: $black;
        margin-right: 3rem;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        gap: 2rem;

        .navigation-item {
            position: relative;
            span {
                color: $gray;
                font-size: 14px;
                cursor: pointer;
                text-transform: capitalize;
                &:hover {
                    color: $black;
                }
            }

            .collapse-list {
                position: absolute;
                top: 30px;
                background-color: #fff;
                padding: 1.25rem;
                border-radius:8px;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                transform: rotateX(90deg);
                opacity: 0;
                transition: 300ms;
                transform-origin: top;
                li {
                    img{
                        margin-right: 1rem;
                    }
                    display: flex;
                    align-items: center;
                }
            }
            .collapse-list[data-rollout='1']{
                transform: rotateX(0);
                opacity: 1;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }

        }
    }

    .auth {
        display: flex;
        margin-left: auto;
        gap: 1rem;

        &>* {
            font-size: 14px;
            text-transform: capitalize;
            color: $gray;
            padding: 6px 12px;

            &:hover {
                color: $black;
            }
        }

        .btn-register {
            border: 2px solid $gray;
            border-radius: 12px;

            &:hover {
                border-color: $black;
            }
        }

    }

    //mobile render
    .side-navigation {
        margin-left: auto;
        .backdrop{
            position: fixed;
            top: 0;
            right:-100%;
            width: 100%;
            height: 100vh;
            background-color: $black;
            opacity: 50%;
            transition: 10ms;
        }
        .backdrop[data-backdrop = true]{
            right: 0;
        }
    }
}