.sidebar{
    position: fixed;
    top: 0;
    width: 60%;
    height: 100vh;
    right: -100%;
    z-index: 100;
    background-color: #fff;
    transition: right 600ms;
    padding: 1.25rem;
    .btn-close{
        margin-left: auto;
    }
    .side-navigation-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
        .navigation-item {
            span {
                color: $gray;
                font-size: 14px;
                text-transform: capitalize;
                cursor: pointer;
                &:hover{
                    color: $black;
                }
            }
            .collapse-list{
                opacity: 0;
                height: 0;
                overflow: hidden;
                zoom: 1;
                transition: height 200ms;
            }
            .collapse-list[data-rollout = '1']{
                height:130px;
                opacity: 1;
                padding-top:1rem;
                margin-left: 1rem;
                li{
                    display: flex;
                    align-items: center;
                    &:not(:nth-last-of-type(1)){
                        margin-bottom: 1rem;
                    }
                    img{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .auth{
        display: flex;
        flex-direction: column;
    }
}



.slideopen{
    right: 0;
}

.slideclose{
    right: -100%;
}
